<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <parameter name="scanPolicyName" value="${scanPolicyName}"/>
    <test name="Combined Unauthenticated Scan Suite">
        <classes>
            <class name="CombinedSecurityScanTest">
                <methods>
                    <include name="testCombinedUnauthenticatedSecurityScan"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
